@mixin background-size($x, $y) {
    -moz-background-size: $x $y;
    -o-background-size: $x $y;
    -webkit-background-size: $x $y;
    background-size: $x $y;
}

// Box Sizing
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

/// Hides the text in an element, commonly used to show an image. Some elements will need block-level styles applied.
///
/// @link http://zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement
///
/// @example scss - Usage
///   .element {
///     @include hide-text;
///   }
///
/// @example css - CSS Output
///   .element {
///     overflow: hidden;
///     text-indent: 101%;
///     white-space: nowrap;
///   }
///
/// source: https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_hide-text.scss

@mixin hide-text($height: null) {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;

  @if $height {
    @warn "The `hide-text` mixin has changed and no longer requires a height. The height argument will no longer be accepted in v5.0.0";
  }
}

// Micro Clearfix Hack
// --------------------
// Based on Nicholas Gallagher clearfix hack: http://nicolasgallagher.com/micro-clearfix-hack/
@mixin micro-clearfix {
    &:before,
    &:after,
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after,
    &:after {
        clear: both;
    }
}