// 0. Global
// 1. Buttons
// 2. Event Date Info
// 3. Intro Info
// 4. Quotes
// 5. Register
// 6. Sponsors
// 7. Location
// 8. Contact

// =Global
// ===============
.h-section {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  @include medium {
    font-size: 1.5em;
  }
}

.colored-green {
  color: #33b78b;
  font-weight: bold;
  margin-bottom: 20px;
  display: inline-block;
}

// =Buttons
// ===============
.btn-cta {
    @extend %btn;
    background: #e35534;
    &:hover {
        background: darken(#e35534, 10%);
    }
}

.btn-action {
  @include medium {
    margin-left: 10px;
  }
}

// =Event Date Info
// ===============
.l-header {
    @media screen and (max-width: 767px) {
      padding: 30px 0;
      .group {
        width: 100%;
      }
    }
    .group {
        @include medium {
            background: url(../img/illus-intro-left.jpg), url(../img/illus-intro-right.jpg);
            background-repeat: no-repeat;
            background-size: 306px 382px, 254px 400px;
            background-position: left center, right center;
        }
    }
}

.event-date {
    color: $green;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.25;
    margin-top: 40px;
    text-align: center;
}

.event-venue {
    display: block;
}

// =Intro Info
// ===============
// .l-intro {
//     .group {
//         background: url(../img/desc-bg.png); // Hay que cambiar la imagen, tiene fondo blanco
//         background-repeat: no-repeat;
//         background-position: right center;
//     }
// }

.intro-tags {
    @include hide-text;
    background: url(../img/desc-balls.png) 0 0 no-repeat;
    @include background-size(100%, 100%);
    height: 400px;
    width: 212px;
    margin: 0 auto;
    @include small {
        margin-right: 85px;
        float: left;
        margin: auto;
    }
    
}

.intro-description {
    background: url(../img/desc-illus.png) bottom center no-repeat;
    background-size: 313px 198px;
    font-size: .9em;
    line-height: 1.45;
    padding: 20px 0 230px 0;
    @include small {
        padding: 20px 0 230px 35%;
        background-position: bottom right;
    }
    @include medium {
        font-size: 1.25em;
    }
}

// =Quotes
// ===============
.l-historias {
  background: url(../img/pattern.jpg);
  text-align: center;
}

.quotes-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include medium {
        flex-direction: row;
    }
}

.quote {
    // @extend %block-inline;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
    margin-right: 1%;
    padding: 40px;
    text-align: left;
    margin-top: 80px;
    margin-right: 0;

    @include medium {
        margin: 100px 2% 40px 0;
        width: 30%;
    }

    &:last-child {
        margin-right: 0;
    }
}
.quote-avatar {
    width: 90px;
    height: 90px;
    margin: -100px auto 20px;
    background: #fff;
    border-radius: 100%;
    border: solid 4px #fff;
    overflow: hidden;
}
.quote-aut {
    font-style: normal;

    strong {
        @include small {
            display: block;
        }
    }
}

// =Register
// ===============
.social-prof {
    list-style: none; // por si es una lista
}

.social-prof-action {
    color: $green;
    text-decoration: none;
}

.social-prof-item {
    font-family: $headings;
    margin: 5px 0;
}

// =Sponsors 
// ===============
.l-sponsors {
    li,
    p {
        font-size: 1.125em;
        line-height: 1.45;
    }
    .group {
        background: url(../img/sponsors-balls.png) no-repeat bottom center;
        background-size: 100%;
        padding: 20px 20px 300px 20px;
        font-size: .9em;
        @include small {
            background-size: 352px 326px;
        }
        @include medium {
            padding: 20px 40% 20px 0;
            font-size: 1em;
            background-position: right center;
            
        }
    }
}

// =Location
// ===============
#map-canvas {
  width: 100%;
  padding: 0;
  height: 400px;
  img {
    max-width: none;
  }
}

// =Contact
// ===============
.l-contact {
    border-bottom: solid 10px $green;
    .contact-copy {
        color: lighten($green, 10%);
        margin-bottom: 20px;
        &:after {
            content: '';
            display: block;
            width: 50px;
            border-bottom: solid 1px #888;
            margin: 20px auto 0;
        }
    }
    .call-out {
        font-family: $base-font;
    }
}

// =Register
// ===============
.l-register {
    text-align: center;
}
.social-prof {
    padding-left: 0;
}
.social-prof-item {
    display: inline-block;
}
.social-prof-action {
    background-image: url(../img/social-sprite.png);
    background-repeat: no-repeat;
    padding: 1px 0 1px 30px;
}
.social-facebook {
    margin-right: 30px;
}
.social-twitter {
    background-position: 0 -25px;
}