.l-contact {
	text-align: center;
}

.l-header {
    background-color: $white;
}

.l-historias {
    background-color: #33b78a;
}

.l-intro {
    background-color: #f7f7f7;
}

.l-register {
	background-color: $white; 
}

.l-sponsors {
    background-color: $white; 
}