.header {
    background-color: $white;
}

.historias {
    background-color: #33b78a;
}

.intro {
    background-color: #f7f7f7;
}

.registro {
	background-color: $white; 
}

.sponsors {
    background-color: $white; 
}