@charset "UTF-8";

// Typo
$headings: 'Nunito', Helvetica, Arial, sans-serif;
$base-font: 'Lato', Helvetica, Arial, sans-serif;

// $Color
$black:       #3b3b44;
$green:       #25a879;
$orange:      #e25434;
$white:       #fff;

$baby-width: 640px;
$mama-width: 720px;
$papa-width: 900px;

